*~
.gdb.in
.qemu.out
cscope.*
ncscope.*
tags
*swp
.cproject
.project
*.bak
*.org
.codelite
*.project
*.workspace
a.out
*.log
*.exe
chytesting
disk0
*.orig
lab2*.idea
compile_commands.json
*.zip
/.vscode/c_cpp_properties.json
/.vscode/launch.json
/.vscode/tasks.json
/cmake-build-debug/CMakeFiles/3.17.3/CompilerIdC/CMakeCCompilerId.c
/cmake-build-debug/CMakeFiles/3.17.3/CompilerIdCXX/CMakeCXXCompilerId.cpp
/cmake-build-debug/CMakeFiles/3.17.3/CMakeRCCompiler.cmake
/cmake-build-debug/CMakeFiles/3.17.3/CMakeSystem.cmake
/cmake-build-debug/CMakeFiles/clion-environment.txt
/cmake-build-debug/CMakeFiles/clion-log.txt
/cmake-build-debug/CMakeFiles/cmake.check_cache
/cmake-build-debug/CMakeCache.txt
/cmake-build-release/CMakeFiles/3.17.3/CompilerIdC/CMakeCCompilerId.c
/cmake-build-release/CMakeFiles/3.17.3/CompilerIdCXX/CMakeCXXCompilerId.cpp
/cmake-build-release/CMakeFiles/3.17.3/CMakeRCCompiler.cmake
/cmake-build-release/CMakeFiles/3.17.3/CMakeSystem.cmake
/cmake-build-release/CMakeFiles/clion-environment.txt
/cmake-build-release/CMakeFiles/clion-log.txt
/cmake-build-release/CMakeFiles/cmake.check_cache
/cmake-build-release/CMakeCache.txt
/hyf/lab2/段页式.png
/labcodes_answer/lab2_result/bin/bootblock
/labcodes_answer/lab2_result/bin/kernel
/labcodes_answer/lab2_result/bin/sign
/labcodes_answer/lab2_result/bin/ucore.img
/labcodes_answer/lab2_result/obj/boot/bootasm.d
/labcodes_answer/lab2_result/obj/boot/bootasm.o
/labcodes_answer/lab2_result/obj/boot/bootmain.d
/labcodes_answer/lab2_result/obj/boot/bootmain.o
/labcodes_answer/lab2_result/obj/kern/debug/kdebug.d
/labcodes_answer/lab2_result/obj/kern/debug/kdebug.o
/labcodes_answer/lab2_result/obj/kern/debug/kmonitor.d
/labcodes_answer/lab2_result/obj/kern/debug/kmonitor.o
/labcodes_answer/lab2_result/obj/kern/debug/panic.d
/labcodes_answer/lab2_result/obj/kern/debug/panic.o
/labcodes_answer/lab2_result/obj/kern/driver/clock.d
/labcodes_answer/lab2_result/obj/kern/driver/clock.o
/labcodes_answer/lab2_result/obj/kern/driver/console.d
/labcodes_answer/lab2_result/obj/kern/driver/console.o
/labcodes_answer/lab2_result/obj/kern/driver/intr.d
/labcodes_answer/lab2_result/obj/kern/driver/intr.o
/labcodes_answer/lab2_result/obj/kern/driver/picirq.d
/labcodes_answer/lab2_result/obj/kern/driver/picirq.o
/labcodes_answer/lab2_result/obj/kern/init/entry.d
/labcodes_answer/lab2_result/obj/kern/init/entry.o
/labcodes_answer/lab2_result/obj/kern/init/init.d
/labcodes_answer/lab2_result/obj/kern/init/init.o
/labcodes_answer/lab2_result/obj/kern/libs/readline.d
/labcodes_answer/lab2_result/obj/kern/libs/readline.o
/labcodes_answer/lab2_result/obj/kern/libs/stdio.d
/labcodes_answer/lab2_result/obj/kern/libs/stdio.o
/labcodes_answer/lab2_result/obj/kern/mm/default_pmm.d
/labcodes_answer/lab2_result/obj/kern/mm/default_pmm.o
/labcodes_answer/lab2_result/obj/kern/mm/pmm.d
/labcodes_answer/lab2_result/obj/kern/mm/pmm.o
/labcodes_answer/lab2_result/obj/kern/trap/trap.d
/labcodes_answer/lab2_result/obj/kern/trap/trap.o
/labcodes_answer/lab2_result/obj/kern/trap/trapentry.d
/labcodes_answer/lab2_result/obj/kern/trap/trapentry.o
/labcodes_answer/lab2_result/obj/kern/trap/vectors.d
/labcodes_answer/lab2_result/obj/kern/trap/vectors.o
/labcodes_answer/lab2_result/obj/libs/printfmt.d
/labcodes_answer/lab2_result/obj/libs/printfmt.o
/labcodes_answer/lab2_result/obj/libs/string.d
/labcodes_answer/lab2_result/obj/libs/string.o
/labcodes_answer/lab2_result/obj/sign/tools/sign.d
/labcodes_answer/lab2_result/obj/sign/tools/sign.o
/labcodes_answer/lab2_result/obj/bootblock.asm
/labcodes_answer/lab2_result/obj/bootblock.o
/labcodes_answer/lab2_result/obj/bootblock.out
/labcodes_answer/lab2_result/obj/kernel.asm
/labcodes_answer/lab2_result/obj/kernel.sym
/ucore_os_docs.pdf
/.idea/deployment.xml
